export(bubbleplot)
export(theme_bw_raivo)
export(gorth)
export(gprofiler)
export(gconvert)
export(generate_gcocoa_query)
export(make_unique_comb)
export(calcCurve)
export(calcAUC)
export(plotROC)
import(stringr, ggplot2, RCurl, grid)
